@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera, Edge */
}

body{
  background-color: white;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(89, 139, 192);
  background-color: black;
}

@font-face {
  font-family: "marFont";
  src: url("~/assets/fonts/HandelGo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

